@use "../mixins" as *;
@include container;
@include white-button(cta__button);
@include red-button(button);

.main {
  background-color: var(--clr-v-light-gray);
  font-family: var(--ff-body);
}

.collumns {
  display: grid;
  gap: 1rem;

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.cta {
  background-color: var(--clr-bright-red);

  & .cta__text {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    color: var(--clr-v-light-gray);
  }
}
