.slide {
  flex: 0 0 100%;

  margin-top: 4rem;
  /* Below: padding to prevent cutting off image
   with position: absolute */
  padding-top: 2.25rem;
  max-width: 33.75rem;
  .card {
    position: relative;
    min-height: 13.75rem;
    padding: 2.5rem;
    text-align: center;

    background-color: var(--clr-light-gray);
    .avatar {
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      top: -2.25rem;
      left: 50%;

      transform: translateX(-50%);
    }

    h3 {
      margin-top: 1.5rem;
      font-weight: var(--fw-semi-bold);
      font-size: var(--fs-400);
    }

    p {
      opacity: 0.5;
    }
  }
}
